.light{font-weight: 100;}
.bold{font-weight: 700;}
.italic{font-style: italic!important;}
.c-black {
  color: $-c-black;
}
.c-lightgrey {
  color: $-c-lightgrey;
}
.t-left {text-align: left!important;}
.t-right {text-align: right!important;}